 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

Base styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.chord path {
  fill-opacity: .67;
  stroke: #000;
  stroke-width: .5px;
}


// .container {
// 	padding: 50px;
// 	.item {
// 		padding-left: 20px;
// 	}
// 	// fails when nested because parent '.item' is set to false, but means padding isn't inherited
// 	.highlight {
// 		color: white;
// 		background: #2aa198;
// 		font-size: 2em;
// 	}
// }